body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

.reasons-section {
  padding: 40px 20px;
  margin-top: 80px; /* Add space below navbar */
  background-color: #f9f9f9;
  text-align: center;
}

.accordion {
  max-width: 800px;
  margin: auto;
}

.accordion-item {
  border-bottom: 1px solid #222;
}

.accordion-header {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #0b0033;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.accordion-header .icon {
  color: #0057B7;
  font-size: 1.5rem;
  font-weight: bold;
  width: 20px;
}

.accordion-body {
  width: 100%;
  padding 0px 0px 20px
  color: #333;
  display: none;
}

.accordion-item.active .accordion-body {
  display: block;
}